@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Rubik&display=swap');

@font-face {
    font-family: Gilroy;
    src: url("../font/Gilroy-Light.otf");
}

@font-face {
    font-family: Konexy;
    src: url("../font/KonexyPersonalUse.otf");
}

:root {

    --ff-primary: "Gilroy", sans-serif;
    --ff-secondary: "Konexy", sans-serif;
    --ff-inter: 'inter';


    --fs-vs: 14px;
    --fs-sm: 16px;
    --fs-md: 18px;
    --fs-lg: 24px;
    --fs-xl: 35px;
    --fs-2xl: 36px;
    --fs-2xxl: 39px;
    --fs-3xl: 40px;
    --fs-4xl: 48px;
    --fs-5xl: 72px;

    --fw-light: 300;
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    --fw-extra-bold: 800;
    --fw-dark: 900;

    --primary-color: #6022EA;
    --white-color: #ffffff;
    --black-color: #000000;
    --gray-color: #4d4d4d;
}

.ff_gilroy {
    font-family: var(--ff-primary) !important;
}

.ff_konexy {
    font-family: var(--ff-secondary) !important;
}

.ff_inter {
    font-family: var(--ff-inter);
}

.fs_14 {
    font-size: var(--fs-vs);
}

.fs_16 {
    font-size: var(--fs-sm);
}

.fs_18 {
    font-size: var(--fs-md);
}

.fs_24 {
    font-size: var(--fs-lg);
}

.fs_35 {
    font-size: var(--fs-xl);
}

.fs_36 {
    font-size: var(--fs-2xl);
}

.fs_39 {
    font-size: var(--fs-2xxl);
}

.fs_40 {
    font-size: var(--fs-3xl);
}

.fs_48 {
    font-size: var(--fs-4xl);
}

.fs_72 {
    font-size: var(--fs-5xl);
}

.fw_300 {
    font-weight: var(--fw-light);
}

.fw_400 {
    font-weight: var(--fw-normal);
}

.fw_500 {
    font-weight: var(--fw-medium);
}

.fw_600 {
    font-weight: var(--fw-semi-bold);
}

.fw_700 {
    font-weight: var(--fw-bold);
}

.fw_800 {
    font-weight: var(--fw-extra-bold);
}

.fw_900 {
    font-weight: var(--fw-dark);
}

.fc_blue {
    color: var(--primary-color) !important;
}

.fc_white {
    color: var(--white-color) !important;
}

.fc_black {
    color: var(--black-color) !important;
}

.fc_gray {
    color: var(--gray-color) !important;
}

@media (max-width:1400px) {
    :root {
        --fs-5xl: 65px;
    }
}

@media (max-width:1200px) {
    :root {
        --fs-10xl: 65px;
        --fs-5xl: 55px;
    }
}


@media (max-width:992px) {
    :root {
        --fs-vs: 14px;
        --fs-sm: 16px;
        --fs-md: 18px;
        --fs-lg: 22px;
        --fs-xl: 30px;
        --fs-2xl: 31px;
        --fs-2xxl: 39px;
        --fs-3xl: 36px;
        --fs-4xl: 42px;
        --fs-5xl: 60px;
    }
}

@media (max-width:768px) {
    :root {
        --fs-vs: 14px;
        --fs-sm: 16px;
        --fs-md: 18px;
        --fs-lg: 20px;
        --fs-xl: 26px;
        --fs-2xl: 27px;
        --fs-2xxl: 36px;
        --fs-3xl: 30px;
        --fs-4xl: 36px;
        --fs-5xl: 60px;
    }
}

@media (max-width:576px) {
    :root {
        --fs-vs: 14px;
        --fs-sm: 15px;
        --fs-md: 16px;
        --fs-lg: 17px;
        --fs-xl: 22px;
        --fs-2xl: 23px;
        --fs-2xxl: 30px;
        --fs-3xl: 25px;
        --fs-4xl: 30px;
        --fs-5xl: 40px;
    }
}